{% extends 'base.html.twig' %}

{% block title %} Index {% endblock %}

{% block body %}
    <h2 class="mt-5">
        Symfony First Project <br>
        <small class="text-muted"> work To do </small>
    </h2>
    <div class="row col-md-8">
    <p>
        Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Molestias eaque sed 
        aperiam rem quas a labore perspiciatis,
        nulla animi. Quis mollitia aperiam neque
        debitis modi illo perferendis architecto
        ab nemo reprehenderit deserunt aliquid, sit
        quas.
    </p>
    <p>
        Sed explicabo quis veritatis quos optio
        delectus unde fuga dolore adipisci, molestiae 
        necessitatibus laudantium, voluptas eligendi 
        totam tempore. Voluptatum culpa inventore minima
        aspernatur. Pariatur nesciunt aperiam illo magnam
        et enim, quis dignissimos corrupti iste modi.
    </p>
    </div>
{% endblock %}
