{% extends 'base.html.twig' %}

{% block body %}
    <div class="rel_title">
        <h2> Services  </h2>
    </div>
    
    <div class="table_side">
        <table>
    
        </table>
    </div>

{% endblock %}
